<%= render "header" %>
<%= render "step1" %>
<%= render "step2" %>
<%= render "step3"%>
<%= render "step4" %>

<section class="bg-primary" id="recommendation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Recommendation</h2>
        <i class="fa fa-4x  fa-paper-plane" style="visibility: visible; animation-name: bounceIn;"></i>
        <h3>Delta Air Lines Inc.</h3>
        <p class="text-faded">Based on this analysis of the sample data, it would appear that Delta Air Lines is the best choice for a primary carrier. While Delta Air Lines has the second highest mean delay time, it has the lowest rate of delayed flights. Consquently, it has the lowest overall delay time per 1000 flights (2069 minutes) by a clear margin.</p>
        <p class="text-faded">Additionally, Delta Air Lines has the second lowest rate of cancelled flights. The carrier with the lowest cancellation rate, JetBlue Airways (1.01 per 1000), has the highest delayed flight rate (113.81 per 1000), making it more prone to overall  delays.</p>
        <p class="text-faded">Concerns could be raised by the fact that Delta Airlines has the lowest total number of flights of the carriers examined but, at 29,170, that figure is still over 90% of the leader in that regard, American Airlines (29,170 flights). Furthermore, Delta Airlines serves 36 metropolitan areas, the median of the carriers examined.</p>
      </div>
    </div>
  </div>
</section>

<%= render "modals" %>