
  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <br><br><br>
        <h1 style="font-size: 65px;">Choosing a primary carrier through data analysis</h1>
        <hr>
        <p style="font-size: 22px;">CKM Advisors requested advice in choosing a primary airline carrier, based on a sample set of on-time performance data. This site presents an analysis of that data and a recommendation of which airline they should choose.</p>
        <p style="font-size: 22px;">Scroll down to get started, or skip to the analysis of specific carriers, final recommendations, and further steps via the navbar above.</p>
        </div>
    </div>
  </header>
  <section class="bg-primary" id="start">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Step 1: Importing the data</h2>
            <hr class="light">
            <p class="text-faded">CKM Advisors provided a dataset containing information on flights in the USA from September to November of 2012. The dataset contained information related to the on-time performance of each flight.</p>
            <p class="text-faded">This dataset (consisting of 1,491,146 individual flights) was imported into a database to faciliate analysis.</p>
          </div>
      </div>
     </div>
  </section>
  <section>
    <div class="container" id="step1">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Step 2: Selecting the relevant data</h2>
              <hr class="primary">
              <p></p>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x  fa-apple text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
            <h3>New York is king</h3>
            <p class="text-muted">The offices of CKM Advisors are located in Manhattan. Given this, it makes sense to only examine those flights with an origin or destination of the NYC Metropolitan area.</p>
            <br>
            <p class="text-muted">Applying this criteria, roughly 89% of the flights in the dataset can be disregarded. This reduces the number of flights to consider to <%= @flights.length %>.</p>
            <br>
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#nycmodal">
              Learn more
            </button>
            <br>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-bolt text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
            <h3>Ignore the uncontrollable</h3>
            <p class="text-muted">Flights are often delayed or cancelled because of factors outside the control of the carriers. These factors are tracked in the dataset, and include bad weather, airport security, and National Air System considerations.</p>
            <br>
            <p class="text-muted">For this analysis, it can be assumed that these factors affect all carriers equally and, as such, can be ignored.</p>
            <br>
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#control">
              Learn more
            </button>
            <br>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-calendar text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
            <h3>Short timeframe</h3>
            <p class="text-muted">The dataset of flights convered a three month period of time in 2012. As such, a number of time-sensitive considerations were ignored, including whether different carriers performed better across seasons.</p>
            <br>
            <p class="text-muted">Similarly, this assessment assumes that three months is too short a period to assess whether any carrier is demonstrating sustainable trends in improving its performance on delays and cancellations.</p>
            <br>
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#time">
              Learn more
            </button>
          </div>
      </div>
    </div>
    <br><br>

    <div class="container" id="step3">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <h2 class="section-heading">Step 3: Narrowing down the carriers</h2>
            <hr class="primary">
            <p>An examination of the dataset reveals large variations in the number of flights conducted by each carrier, as well as in the number of city markets that they service. In choosing a primary carrier, it can be assumed that a higher number of flights and a greater number of destinations are both favourable factors.</p>
        </div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 text-right">
          <h3>Number of flights per carrier</h3>
          <p>Examining the total number of flights per carrier reveals that 7 of the 14 carriers undertake the overwhelming majority of flight to and from the NYC Metropolitan Area.</p>
          <p>This pie chart demonstrates the breakdown of total flights per carrier. With this in mind, none of the following carriers appear to be a good choice for CKM Advisors: SkyWest Airlines Inc., Mesa Airlines Inc., Hawaiian Airlines Inc., Frontier Airlines Inc., Alaska Airlines Inc., AirTran Airways Corporation, and Virgin America.
          <p>The 7 airlines mentioned were not further considered.</p>

        </div>
        <div class="col-lg-7 text-center">
          <h3>167,716 flights</h3>
          <%= pie_chart @total_flight_data, @total_flight_options%>
        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 text-center">
          <%= chartjs_bar_chart @number_of_destinations %>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 text-left">
          <h3>Number of city markets served per carrier</h3>
          <p>In addition to the number of flights per carrier, it was also important to know the number of city markets being serviced by each carrier. In choosing a primary carrier, CKM will likely want to ensure a broad array of possible destinations. This bar chart show the number of city markets served by each carrier. </p>
          <p>When combined with the fact that they also significantly fewer flights than the remaining carriers, Southest Airlines Co. and US Airways Inc. were also excluded from analysis.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Step 4: Comparing the remaining carriers</h2>
            <hr class="primary">
            <p>At this point, only five carriers remain as a viable primary carrier for CKM Advisors. Insights on each carrier can be reached by clicking on its name</p>
          </div>
      </div>
      <div>
        <%= render "carriers/carriers" %>
      </div>
     </div>
  </section>
  <section>
    <%= render "carriers/comparison" %>
  </section>
  <section class="bg-primary" id="recommendation">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Recommendation</h2>
          <i class="fa fa-4x  fa-paper-plane" style="visibility: visible; animation-name: bounceIn;"></i>
          <h3>Delta Air Lines Inc.</h3>
          <p class="text-faded">Based on this analysis, it would appear that CKM Advisors should consider Delta Air Lines as its primary carrier. While Delta Air Lines has the second highest mean delay time, it has the lowest rate of delayed flights. Consquently, it has the lowest overall delay time per 1000 flights (2069 minutes) by a clear margin.</p>
          <p class="text-faded">Additionally, Delta Air Lines has the second lowest rate of cancelled flights. The carrier with the lowest cancellation rate, JetBlue Airways (1.01 per 1000), has the highest delayed flight rate (113.81 per 1000), making it more prone to overall  delays.</p>
          <p class="text-faded">Concerns could be raised by the fact that Delta Airlines has the lowest total number of flights of the carriers examined but, at 29,170, that figure is still over 90% of the leader in that regard, American Airlines (29,170 flights). Furthermore, Delta Airlines serves 36 metropolitan areas, the median of the carriers examined.</p>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Modal -->
<div class="modal fade" id="nycmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New York is king</h4>
      </div>
      <div class="modal-body">
        <p>This analysis only looked at flights to and from the NYC Metropolitan Area. This is because it is reasonable to assume that the overwhelming number of flights by employees of CKM Advisors will be to and from their home base in New York.
        </p>
        <p>To select these flights from the dataset, the OriginCityMarket and DestCityMarket fields were examined to find flights where the value was the NYC Metropolitan Area.</p>
        <br>
        <p>This analysis is unable to account for delays that might occur on the subsequent parts of multi-leg journeys. It is safe to assume that the majority of travel undertaken by CKM Advisors in the USA will be non-stop trips.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="control" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ignore the uncontrollable</h4>
      </div>
      <div class="modal-body">
        <p>The following fields were deemed to be entirely beyond the control of the carriers, and therefore not pertinent to this analysis:</p>
        <ul>
          <li>Delays from the National Air System (NASDelay)</li>
          <li>Delays from airport security issues (SecurityDelay)</li>
        </ul>
        <p>Along the same lines, cancelled flights were filtered to exclude from consideration those with the following  codes:</p>
        <ul>
          <li>Weather</li>
          <li>National Air System</li>
        </ul>
        <p>Additionally, the LateAircraftDelay field was dropped as well. This delay indicates that the plane was delayed because of delays in its previous flight. The dataset does not keep track of the reason for this delay, and as such it is impossible to determine whether it was the fault of the carrier or not.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="time" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bigger is better</h4>
      </div>
      <div class="modal-body">
        <p>The following fields were not considered in this analysis:</p>
        <ul>
          <li>Year</li>
          <li>Quarter</li>
        </ul>
        <p>These fields were removed from the dataset to improve performance when querying the database.</p>
      </div>
    </div>
  </div>
</div>